@font-face {
  font-family: "Sf Pro Display";
  src: url("../assests/fonts/SFPRODISPLAYLIGHT.otf");
  font-weight: 400;
  font-variant: normal;
  font-display: block;
}

@font-face {
  font-family: "Sf Pro Display";
  src: url("../assests/fonts/SFPRODISPLAYREGULAR.OTF");
  font-weight: 500;
  font-variant: normal;
  font-display: block;
}

@font-face {
  font-family: "Sf Pro Display";
  src: url("../assests/fonts/SFPRODISPLAYSEMIBOLD.otf");
  font-weight: 600;
  font-variant: normal;
  font-display: block;
}

@font-face {
  font-family: "Sf Pro Display";
  src: url("../assests/fonts/SFPRODISPLAYBOLD.OTF");
  font-weight: 700;
  font-variant: normal;
  font-display: block;
}

@font-face {
  font-family: "Sf Pro Text";
  src: url("../assests/fonts/SFPROTEXTLIGHT.otf");
  font-weight: 500;
  font-variant: normal;
  font-display: block;
}

body {
  font-family: "Sf Pro Display";
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.text-light {
  color: rgba(17, 17, 17, 0.6);
}

.text-sm {
  font-size: 16px;
}

.text-primary {
  color: rgba(17, 17, 17, 1);
}

.font-semibold {
  font-weight: 600;
}

.MuiPaginationItem-root {
  color: #11111199;
  font-weight: 700;
  font-size: 14px;
}

.MuiPaginationItem-root.Mui-selected {
  color: #7248f7 !important;
  background: #7248f71a !important;
}

.MuiPaper-root .MuiList-root {
  padding-bottom: 2px !important;
}
.MuiPaper-root.MuiMenu-paper {
  margin-top: 8px !important;
  box-shadow: 0px 4px 28px 0px #0000000d !important;
  border-radius: 8px;
}

.MuiButtonBase-root.MuiMenuItem-root {
  font-size: 14px !important;
  line-height: 18.2px !important;
  font-weight: 600 !important;
  text-align: center !important;
  color: #111111cc !important;
  padding: 0 !important;
  margin-bottom: 6px !important;
  align-items: center;
  justify-content: center;
}

.price-increase {
  color: #01c877 !important;
  transition: color 0.5s ease;
}

.price-decrease {
  color: #f56d6d !important;
  transition: color 0.5s ease;
}

.ag-center-cols-viewport {
  overflow: hidden !important;
}

.highcharts-scrollbar {
  display: none;
}

.highcharts-tooltip span {
  background: transparent !important;
  border: none !important;
}

.card_wrapper {
  width: 100%;
  display: flex;
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.05);
  box-shadow: 0px 4px 28px 0px rgba(0, 0, 0, 0.05);
}
.slick-track .card_wrapper {
  border: none !important;
  box-shadow: none !important;
}

.coin__container .guage-chart {
  width: calc(25% - 7.5px) !important;
}
.high_volume__container .guage-chart {
  width: calc(25% - 7.5px) !important;
}
.chains__container .guage-chart {
  width: calc(25% - 7.5px) !important;
}

.defi__container .guage-chart {
  width: calc(25% - 7.5px) !important;
}

.defi__container .defi__candlestick_card {
  width: calc(25% - 7.5px) !important;
}

.defi__container .defi__trending_card {
  width: calc(25% - 7.5px) !important;
}

#explorer {
  padding: 2px 12px !important;
  background: transparent;
  &:hover {
    background: rgba(17, 17, 17, 0.05);
  }
}

#coininfo .MuiAccordionSummary-root {
  padding-left: 0 !important;
}

#coininfo .MuiAccordionSummary-root .MuiAccordionSummary-content p {
  font-size: 16px !important;
}

#coininfo.Mui-expanded {
  margin-top: 0 !important;
}

.highcharts-pivot {
  display: none;
}
.highcharts-xaxis {
  display: none;
}

.highcharts-legend-item .highcharts-graph {
  stroke-width: 12px !important; /* Change the stroke-width as desired */
}

.slick-dots.slick-thumb li {
  margin-inline: -2px;
}

.slick-dots.slick-thumb li button::before {
  font-size: 12px;
  color: rgba(17, 17, 17, 0.1);
  opacity: 1;
}

.slick-dots.slick-thumb li.slick-active button::before {
  opacity: 1;
  color: rgba(17, 17, 17, 1);
}

.slick-dots {
  bottom: -47px !important;
}
#go-back-btn svg {
  font-size: 0.85rem;
}

.custom-tooltip {
  background: none;
  color: inherit;
  box-shadow: none;
  padding: 0;
}

.custom-tooltip-content {
  background-color: white;
  color: black;
  /* border: 1px solid black; */
  padding: 10px;
  border-radius: 4px;
}
.info-icon {
  transition: filter 0.3s ease;
  cursor: pointer;
  /* filter: brightness(10); */
}

.info-icon:hover {
  filter: brightness(1);
}

.MuiTooltip-tooltip {
  background-color: transparent !important;
}

.swiper-button-prev,
.swiper-button-next {
  background: white;
  width: 48px !important;
  height: 48px !important;
  border-radius: 50%;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 12px !important;
  font-style: 900 !important;
  color: rgba(17, 17, 17, 1);
  text-shadow:
    1px 0 black,
    -1px 0 black,
    0 1px black,
    0 -1px black !important;
}

.swiper-pagination {
  top: 40px !important;
  left: 90% !important;
  width: max-content !important;
  height: min-content !important;
}

.swiper-pagination-bullet-active {
  background-color: white !important;
}

.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
}
