.row-tooltip{
    width: 270px;
    height: 105px;
    border-radius: 12px;
    padding: 2px 12px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 28px 0px rgba(0, 0, 0, 0.05);
    font-family: 'Sf Pro Display';
  }

  .row-tooltip-percent{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .row-tooltip-progress-bar{
    display: flex;
    justify-content: center;
  }
  
  .row-tooltip-circulating-supply{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .row-tooltip-max-supply{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -20px;
  }


  .tooltip {
    width: 270px;
    height: auto;
    border-radius: 12px;
    padding: 14px 12px 24px 12px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 28px 0px rgba(0, 0, 0, 0.05);
    font-family: 'Sf Pro Display';
  }
  
  .tooltip p {
    font-size: 12px;
    color: rgba(17, 17, 17, 0.8);
    font-weight: normal;
  }
  
  .tooltip p:nth-child(2) {
    margin-top: 8px;
  }
  
  .link {
    text-decoration: none;
    color: #7248f7;
    font-weight: 600;
    font-family: 'Sf Pro Display';
    font-size: 14px;
  }
  