.header-container {
    margin-left: 2px;
    margin-top: -115px;
}
.header-news-container{
    margin-left: 2px;
    margin-top: -130px;
}


.technical-header {
    // padding-bottom: 4px;
    // margin-top: -150px !important;
    font-weight: 500;
    font-size: 12px;
    line-height: 15.6px;
    color: rgba(255, 255, 255, 1) !important;
    font-family: "Sf Pro Display";
}

.technical-header-title {
    color: rgba(255, 255, 255, 1) !important;
}

.news-header-title{
    font-weight: 700;
    font-size: 48px;
    line-height: 44px;
    color: white !important;
    
}

.articles-header{
    padding-bottom: 12px;
    margin-top: -150px !important;
    font-weight: 400;
    font-size: 16px;
    line-height: 20.8px;
    letter-spacing: '1px';
    color: white !important;
    
}

.articles-header-title{
    font-weight: 700;
    font-size: 48px;
    line-height: 57.6px;
    letter-spacing: '1px';
    color: white !important;
    
}

