
.header-container{
    margin-left: 2px;
}

.news-header{
    padding-bottom: 12px;
    margin-top: -150px !important;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: white !important;
    
}

.news-header-title{
    font-weight: 700;
    font-size: 48px;
    line-height: 44px;
    color: white !important;
    
}

.articles-header{
    padding-bottom: 12px;
    margin-top: -150px !important;
    font-weight: 400;
    font-size: 16px;
    line-height: 20.8px;
    letter-spacing: '1px';
    color: white !important;
    
}

.articles-header-title{
    font-weight: 700;
    font-size: 48px;
    line-height: 57.6px;
    letter-spacing: '1px';
    color: white !important;
    
}

