
.header-container{
    margin-left: 2px;
}

.news-header{
    padding-bottom: 12px;
    margin-top: -150px !important;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: white !important;
    
}

.news-header-title{
    font-weight: 700;
    font-size: 40px;
    line-height: 44px;
    color: white !important;
    
}