.homebg {
  background-color: #edf0ff;
  padding-top: 24px;
}

.headerbg {
  background-image: url('/images/banner/headerbg.png');
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  height: 230px;
  padding-top: 32px;
  margin-top: -32px;
}

.detailbg {
  height: 60px;
  position: sticky;
  top: 0;
  z-index: 101;
  background-color: #fff;
}

.articlesbg {
  background-image: url('/images/banner/headerbg.png');
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  height: 230px;
  padding-top: 32px;
  margin-top: -32px;
}

.headerbgTechnicals {
  background-image: url('/images/banner/technicalsNavImg.png');
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  height: 230px;
  padding-top: 32px;
  margin-top: -32px;
}

@media (max-width: 768px) {
  .headerbgTechnicals {
    height: 300px;
  }
}

@media screen and (max-width: 576px) {
  .logo-navbar svg {
    width: 100px;
  }
}

#stats-tooltip .MuiTooltip-tooltip {
  background-color: #fff !important;
}

.news-letter-container {
  @media (max-width: 577px) {
    .card-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: none;
    }
  }
}