.card-button{
    background-image: url('../../../../../public/images/cards/discover-card-t3.png');
    object-fit:cover;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    width: 300px;
    height: 484px;
    border-radius: 32px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    background-position-x: center;
}