.feature-card{
    background-image: url('../../../../../public/images/cards/features-card.png');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    width: 340px;
    height: 460px;
    border-radius: 32px;
    background-position: bottom;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}