.container {
    display: flex;
    flex-direction: column;
    gap: 3px;
    height: 70px;
    justify-content: center;
}

.container__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    color: #111111;
}


.container__percent {
    font-size: 12px;
    font-weight: 400;
    line-height: 15.6px;
}