@font-face {
    font-family: 'Sf Pro Display';
    src: url('SFPRODISPLAYREGULAR.OTF');
    font-weight: 400;
    font-variant: normal;
    font-display: block;
}


@font-face {
    font-family: 'Sf Pro Display';
    src: url('SFPRODISPLAYMEDIUM.OTF');
    font-weight: 500;
    font-variant: normal;
    font-display: block;
}

@font-face {
    font-family: 'Sf Pro Display';
    src: url('SFPRODISPLAYBOLD.OTF');
    font-weight: 700;
    font-variant: normal;
    font-display: block;
}
@font-face {
    font-family: 'Sf Pro Regular';
    src: url('SFPRODISPLAYREGULAR.OTF');
    font-weight: 400;
    font-variant: normal;
    font-display: block;
}