.exchange-comp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: inherit;
}

.exchange-info {
  display: flex;
  align-items: center;
  gap: 8px;
}

.exchange-icon {
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

@media (max-width: 500px) {
  .exchange-icon {
    height: 28px;
    width: 28px;
    border-radius: 50%;
  }
}

.exchange-comp p {
  margin: 0;
  padding: 0;
}

.full-name {
  font-size: 14px;
  font-family: 'SF Pro Display';
  font-weight: 600;
}

@media (max-width: 500px) {
  .full-name {
    font-size: 13px;
  }
}

.name {
  width: 40px;
  height: 20px;
  border-radius: 8px;
  border: 1px solid #7248f7;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

.name span {
  font-size: 12px;
  font-weight: 600;
  font-family: 'Sf Pro Display';
  color: #7248f7;
}
