.bannerBox {
  position: relative;
  background-image: url('/images/banner/banner1.png');
  background-position: center center;
  background-size: cover;
  padding: 80px;
  border-radius: 32px;
}

.bannerBox2 {
  position: relative;
  background-image: url('/images/banner/banner2.png');
  background-position: center center;
  background-size: cover;
  padding: 80px;
  border-radius: 32px;
}

.bannerBox img {
  width: 100%;
  height: auto;
}

.bannerText {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
}

.input {
  font-size: 16px;
  font-weight: 400;
  color: rgba(17, 17, 17);
  outline: none;
  border: none;
  font-family: inherit;
  width: 70%;
  letter-spacing: -0.7px;

  &::placeholder {
    font-size: 16px;
    font-weight: 400;
    color: rgba(17, 17, 17, 0.8);
    letter-spacing: -0.7px;
  }
}