.bannerBox {
  position: relative;
  background-image: url('/images/banner/banner1.png');
  background-position: center center;
  background-size: cover;
  padding: 42px 75px;
  border-radius: 32px;
  box-sizing: border-box;
}

.bannerBox2 {
  position: relative;
  background-image: url('/images/banner/banner2.png');
  background-position: center center;
  background-size: cover;
  padding: 42px 75px;
  border-radius: 32px;
  box-sizing: border-box;
}

.bannerBox img {
  width: 100%;
  height: auto;
}

.bannerText {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
}

.input {
  font-size: 16px;
  font-weight: 400;
  line-height: 20.8px;
  color: rgba(17, 17, 17, 0.8);
  outline: none;
  border: none;
  font-family: inherit;
  width: 70%;
  letter-spacing: -0.7px;

  &::placeholder {
    font-size: 16px;
    font-weight: 400;
    color: rgba(17, 17, 17, 0.8);
    letter-spacing: -0.7px;
  }
}

.smallText {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
}

@media (max-width: 768px) {
  .bannerBox2,
  .bannerBox {
    padding: 32px 37.5px;
  }
}

@media (max-width: 576px) {
  .bannerBox2,
  .bannerBox {
    padding: 32px 16px;
  }
  .smallText {
    font-size: 10px;
    line-height: 120%;
    letter-spacing: -0.1px;
  }
}
