.circulating-comp {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}

.price-main {
  font-size: 13px;
  font-family: "Sf Pro Display";
  font-weight: 400;
  line-height: 16.9px;
}
.row-tooltip-progress-bar {
  /* margin-top: -25px; */
}
