.volume-comp {
  /* margin-top: -10px; */
  height: inherit;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  gap: 3px;
}

.margin-none{
  margin-top: 0;
}
.margin-none p{
  margin: 0;
  padding: 0;
}

.volume-comp p {
  margin: 0;
  padding: 0;
}

.price-main {
  font-size: 13px;
  line-height: 16.9px;
  font-family: 'Sf Pro Display';
  font-weight: 400;
}

.sub-price {
  font-size: 12px;
  font-weight: 400;
  line-height: 15.6px;
  color: rgba(17, 17, 17, 0.6);
  font-family: 'Sf Pro Display';
}
