.date-comp {
  font-size: 13px;
  line-height: 16.9px;
  font-family: "Sf Pro Display";
  font-weight: 400;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
}
