.date-comp {
  font-size: 13px;
  line-height: 16.9px;
  font-family: "Sf Pro Display";
  font-weight: 400;
  text-align: right !important;
  display: flex;
  align-items: center;
  justify-content: end !important;
  height: inherit;
}

.date-comp-nft {
  font-size: 13px;
  line-height: 16.9px;
  font-family: "Sf Pro Display";
  font-weight: 400;
  text-align: right !important;
  display: flex;
  align-items: center;
  justify-content: start !important;
  height: inherit;
}
